* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  
}

body {
  background: #fff;

}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 4rem 4rem;
}

.section__margin {
  margin: 4rem 6rem;
}
