* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
  background: #fff;
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 2.5rem 4rem;
}

.section__margin {
  margin: 2.5rem 4rem;
}

.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
